# DS_Store
DS_Store
.DS_Store
*.DS_Store

# Environments
.venv/
.env
.venv
env/
venv/
.ipynb_checkpoints

# IDE
.idea/
workspace.xml

# Development
CLAUDE.md

# Julia
Manifest.toml
*.jl.*.cov
*.jl.cov
*.jl.mem